/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap');

/* Variables */
:root {
    --header-height: 3.5rem;
    
    /* Colors */
    --first-color: hsl(219,69%, 56%);
    --first-color-alt: hsl(219, 69%, 52%);
    --title-color: hsl(219, 8%, 95%);
    --text-color: hsl(219, 8%, 75%);
    --text-color-light: hsl(219, 4%, 55%);
    --white-color: #fff;
    --body-color: hsl(219, 4%, 4%);
    --container-color: hsl(219, 4%, 7%);
    
    /* Fonts */
    --body-font: 'Exo', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* Default Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* CSS Classes */
.container {
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h2-font-size);
    text-align: center;
    margin-bottom: 2.5rem;
}

.main {
    overflow: hidden;
}

.shape {
    background-color: hsl(219, 33%, 32%, .5);
    filter: blur(112px);
    border-radius: 50%;
}

.shape__big {
    width: 400px;
    height: 400px;
}

.shape__small {
    width: 300px;
    height: 300px;
}

.shape__smaller {
    width: 180px;
    height: 180px;
    filter: blur(64px);
}

/* Button */
.button {
    display: inline-block;
    font-size: var(--normal-font-size);
    color: var(--white-color);
    background-color: var(--first-color);
    padding: 1rem 2rem;
    border-radius: .25rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

/* Header START */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.nav__logo, .nav__toggle {
    display: inline-flex;
    color: var(--title-color);
}

.nav__logo {
    font-weight: var(--font-medium);
    align-items: center;
    column-gap: 0.25rem;
    transition: .3s;
}

.nav__logo i {
    font-size: 1.25rem;
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 100%, .1);
        backdrop-filter: blur(96px);
        transition: .3s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
}

.nav__link {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    text-transform: uppercase;
    transform: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    font-size: 2rem;
    color: var(--white-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.show-menu {
    right: 0;
}

.scroll-header {
    border-radius: 0 0 1rem 1rem;
    background-color: var(--body-color);
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, 1);
}
/* Header END */

/* Home Section START */
.home {
    position: relative;
    overflow: hidden;
}

.home__container {
    position: relative;
    padding-top: 4rem;
    row-gap: 3rem;
}

.home__data {
    text-align: center;
}

.home__title {
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    margin-bottom: 0.25rem;
}

.home__elec {
    font-size: var(--small-font-size);
    font-weight: 400;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.home__elec i {
    color: var(--first-color);
}

.home__img {
    width: 280px;
    justify-self: center;
}

.home__car {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    margin-bottom: 2rem;
}

.home__car-name {
    font-size: 0.625rem;
    font-weight: 400;
    color: var(--text-color-light);
}

.home__car-data {
    text-align: center;
}

.home__car-number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0.25rem;
}

.home__car-icon {
    font-size: 0.875rem;
    background-color: var(--container-color);
    border-radius: 50%;
    padding: 0.367rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
}

.home__button {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: relative;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--white-color);
    width: 70px;
    height: 70px;
    border: 2px solid hsl(158, 89%, 30%);
    border-radius: 50%;
}

.home__button::before {
    content: '';
    position: absolute;
    border: 2px solid hsl(158, 98%, 43%);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    box-shadow: 0 0 12px hsl(158, 98%, 43%);
    transition: .3s;
    animation: button 3s infinite;
}

.home .shape__big,
.home .shape__small {
    position: absolute;
}

.home .shape__big {
    left: -9rem;
    top: -4rem;
}

.home .shape__small {
    right: -10rem;
    bottom: 3rem;
}

@keyframes button {
    0% {
        box-shadow: 0 0 12px hsl(158, 98%, 43%);
    }

    50% {
        box-shadow: 0 0 24px hsl(158, 98%, 43%);
    }
}
/* Home Section END */

/* About Section START */
.about__container {
    row-gap: 6rem;
}

.about__group {
    position: relative;
}

.about__img {
    width: 310px;
    border-radius: .5rem;
}

.about__card {
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    width: 180px;
    background-color: hsla(0, 0%, 100%, .1);
    backdrop-filter: blur(16px);
    border-radius: 1.25rem;
    padding: 1rem 0.75rem;
    text-align: center;
}

.about__card-title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.about__card-description {
    font-size: var(--smaller-font-size);
}

.about__title {
    text-align: initial;
    margin-bottom: 2rem;
}

.about__description {
    margin-bottom: 2rem;
}
/* About Section END */

/* Popular Section START */
.popular__container {
    padding-top: 1rem;
}

.popular__card {
    position: relative;
    width: 238px;
    background-color: var(--container-color);
    margin-bottom: 3.5rem;
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.popular__card .shape__smaller {
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
}

.popular__title, .popular__subtitle, .popular__img {
    position: relative;
}

.popular__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.25rem;
}

.popular__subtitle {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-weight: 400;
}

.popular__img {
    width: 160px;
    margin: 0.75rem 0 1.25rem 1.5rem;
    transition: .3s;
}

.popular__data {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0.5rem 1.25rem;
    margin-bottom: 2rem;
}

.popular__data-group {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--smaller-font-size);
    color: var(--white-color);
}

.popular__data i {
    font-size: 1rem;
}

.popular__price {
    font-size: var(--h3-font-size);
}

.popular__button {
    position: absolute;
    border: none;
    outline: none;
    padding: 0.75rem 1rem;
    right: 0;
    bottom: 0;
    border-radius: 1rem 0 1rem 0;
    cursor: pointer;
}

.popular__button i {
    font-size: 1.25rem;
}

.popular__card:hover .popular__img {
    transform: translateY(-0.25rem);
}

span.swiper-pagination-bullet {
    background-color: var(--text-color);
}

span.swiper-pagination-bullet-active {
    background-color: var(--first-color);   
}
  
/* Popular Section END */

/* Features Section START */
.features {
    position: relative;
    overflow: hidden;
}

.features__container {
    padding-top: 2rem;
    grid-template-columns: 285px;
    justify-content: center;
}

.features__group {
    display: grid;
    position: relative;
    z-index: 10;
}

.features__img {
    width: 150px;
    justify-self: center;
}

.features__card {
    position: absolute;
    color: var(--title-color);
    background-color: hsla(0, 0%, 100%, .1);
    width: 112px;
    backdrop-filter: blur(16px);
    border-radius: 1.25rem;
    padding: 0.75rem 2rem;
    text-align: center;
}

.features__card-1 {
    top: 4rem;
    left: 1.5rem;
}

.features__card-2 {
    top: 8rem;
    right: 1rem;
}

.features__card-3 {
    left: 1.5rem;
    bottom: 2rem;
}

.features__card-title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.25rem;
}

.features__description {
    font-size: var(--smaller-font-size);
}

.features__map {
    position: absolute;
    max-width: initial;
    width: 450px;
    top: 8rem;
    left: -3rem;
    margin: auto;
    transform: rotate(-22deg);
}
/* Features Section END */

/* Featured Section START */
.featured__container {
    padding-top: 1rem;
}

.featured__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 3.5rem;
}

.featured__item {
    font-size: var(--normal-font-size);
    color: var(--white-color);
    background-color: var(--container-color);
    padding: 0.75rem;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: .75rem;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.featured__item img {
    width: 1.5rem;
}

.featured__item span, .featured__item img {
    opacity: .3;
    transition: .3s;
}

.featured__item:hover {
    background-color: var(--first-color);
}

.featured__item:hover span, .featured__item:hover img {
    opacity: 1;
}

.featured__content {
    grid-template-columns: 228px;
    row-gap: 2.5rem;
    justify-content: center;
}

.featured__card {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
}

.featured__card .shape__smaller {
    position: absolute;
    inset: 0;
    margin: auto;
}

.featured__title, .featured__subtitle, .featured__img {
    position: relative;
}

.featured__title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.25rem;
}

.featured__subtitle {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-weight: 400;
}

.featured__img {
    width: 180px;
    margin: 1.5rem 0;
    transition: .3s;
}

.featured__price {
    font-size: var(--h3-font-size);
}

.featured__button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    border-radius: 1rem 0 1rem 0;
    outline: none;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.featured__button i {
    font-size: 1.25rem;
}

.featured__card:hover .featured__img {
    transform: translateX(-0.25rem);
}

/* Active Link */
.active-featured {
    background-color: var(--first-color);
}

.active-featured span, .active-featured img {
    opacity: 1;
}
/* Featured Section END */